
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #e4e7eb;
   font-weight: 300;
padding: 20px 20px;

}
header {
   margin-left: 20px;
}
h1 { 
 
   font-weight: 600;
   font-size: 30px;
   padding: 10px 0;
   text-align: center;
}


.container {
   display: flex;
   align-items: stretch;
   gap: 2px;
    

}
.cont{
   display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: stretch;
   width: 625px;
   gap: 2px;
   
   background-color: #e4e7eb;
      box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
}
.container .column:first-child h3 {
   color: #000000;
   background-color: #ffffff;
    text-align: center;
    width: 207px;
    height: 40px;
      padding: 7px;
        display: inline-block;   
}
.price.free {
     list-style: none; 
   color: #000000;
   background-color:#5bb189;
    width: 207px;
    height: 50px;
      padding: 7px ;
        font-size: 27px;  
         font-weight: bold;
             text-align: center;
             
           
    
}
.price.free span {
  font-size: 10px;   
  color: #666; 
  font-weight: normal;
    text-align: center;     
}
 .column:first-child ul li:first-child span {
   font-weight: bold;
    text-align: center; 
   
}
.column:first-child ul li:first-child {
    text-transform: capitalize;
   background-color: white;
     width: 207px;
    height: 37px;
   font-size: 14px;
   color: #000000;
   text-align: center;
   padding: 7px ;
}
.column:first-child ul li:nth-child(2) span {
   font-weight: bold;
    text-align: center; 
   
}
.column:first-child ul li:nth-child(2){
    text-transform: capitalize;
   background-color:#d3d5d6;
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #000000;
   text-align: center;
   padding: 7px ;
}
.column:first-child ul li:nth-child(3) span {
   font-weight: bold;
    text-align: center;   
}
.column:first-child ul li:nth-child(3){
    text-transform: capitalize;
   background-color: rgb(255, 255, 255);
     width: 207px;
    height: 37px;
   font-size: 14px;
   color: #000000;
   text-align: center;
   padding: 7px ;
}
.column:first-child ul li:nth-child(4) span {
   font-weight: bold;
    text-align: center; 
   
}
.column:first-child ul li:nth-child(4){
    text-transform: capitalize;
      background-color: #d3d5d6;
     width: 207px;
    height: 37px;
   font-size: 14px;
   color: #000000;
   text-align: center;
   padding: 7px ;
}

.column:first-child div  {
   text-decoration: none;
  width: 207px;
   background-color: rgb(250, 250, 250);
    
    height: 80px;
      padding: 22px 0;
        display: inline-block; 
        text-align: center;
        font-weight: bold;
      

}
.column:first-child div a {
   text-decoration: none;
   color: white;
      background-color: #3a6ba5;
  width: 199px;
    height: 34px;
      padding: 7px 0;
        display: inline-block; 
        text-align: center;
        font-weight: bold;
        font-size: 12px;

       
}





.container .column:nth-child(2) h3 {
  color: rgb(243, 243, 247);
  background-color: #2f4f4f;
  text-align: center;
        width: 207px;
    height: 40px;
      padding: 7px;
        display: inline-block; 
}
.price.standard {
     list-style: none; 
   color: #ffffff;
   background-color:#4b0082;
    width: 207px;
    height: 50px;
      padding: 7px ;
        font-size: 27px;  
         font-weight: bold;
             text-align: center;
             
           
    
}
.price.standard span {
  font-size: 10px;   
 color: #ffffff;
  font-weight: normal;
    text-align: center;     
}
 .column:nth-child(2) ul li:first-child span {
   font-weight: bold;
    text-align: center; 
   
}
.column:nth-child(2) ul li:first-child {
    text-transform: capitalize;
    background-color: #2f4f4f;
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #ffffff;
   text-align: center;
   padding: 7px ;
}
.column:nth-child(2) ul li:nth-child(2) span {
   font-weight: bold;
    text-align: center; 
   
}
.column:nth-child(2) ul li:nth-child(2){
    text-transform: capitalize;
 background-color: #4c6263;
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #ffffff;
   text-align: center;
   padding: 7px ;
}
.column:nth-child(2) ul li:nth-child(3) span {
   font-weight: bold;
    text-align: center;   
}
.column:nth-child(2) ul li:nth-child(3){
    text-transform: capitalize;
   background-color: #2f4f4f;
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #ffffff;
   text-align: center;
   padding: 7px ;
}
.column:nth-child(2) ul li:nth-child(4) span {
   font-weight: bold;
    text-align: center; 
   
}
.column:nth-child(2) ul li:nth-child(4){
    text-transform: capitalize;
      background-color:#4c6263;
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #fdfcfc;
   text-align: center;
   padding: 7px ;
}
.column:nth-child(2) div  {
   text-decoration: none;
    background-color: #2f4f4f;
    width: 207px;
    height: 80px;
      padding: 22px 0;
        display: inline-block; 
        text-align: center;
        font-weight: bold;
      

}
.column:nth-child(2) div a {
   text-decoration: none;
   color: white;
   background-color: #3a6ba5;
   
        width: 199px;
    height: 34px;
      padding: 7px 0;
        display: inline-block; 
        text-align: center;
        font-weight: bold;
        font-size: 12px;
}

ul li  {
     list-style: none;            
}
.container .column:nth-child(3) h3 {
 color: #000000;
   background-color: white;
    text-align: center;
    width: 207px;
    height: 40px;
      padding: 7px;
        display: inline-block; 
}
.price.professional{
     list-style: none; 
   color: #000000;
   background-color:#ec632a;
    width: 207px;
    height: 50px;
      padding: 7px ;
        font-size: 27px;  
         font-weight: bold;
             text-align: center;
             
           
    
}
.price.professional span {
  font-size: 10px;   
  color: #666; 
  font-weight: normal;
    text-align: center;     
}
 .column:nth-child(3) ul li:first-child span {
   font-weight: bold;
    text-align: center; 
   
}
.column:nth-child(3) ul li:first-child {
    text-transform: capitalize;
    background-color: rgb(255, 255, 255);
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #000000;
   text-align: center;
   padding: 7px ;
}
.column:nth-child(3) ul li:nth-child(2) span {
   font-weight: bold;
    text-align: center; 
   
}
.column:nth-child(3) ul li:nth-child(2){
    text-transform: capitalize;
 background-color: #d3d5d6;
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #000000;
   text-align: center;
   padding: 7px ;
}
.column:nth-child(3) ul li:nth-child(3) span {
   font-weight: bold;
    text-align: center;   
}
.column:nth-child(3) ul li:nth-child(3){
    text-transform: capitalize;
   background-color: rgb(255, 255, 255);
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #000000;
   text-align: center;
   padding: 7px ;
}
.column:nth-child(3) ul li:nth-child(4) span {
   font-weight: bold;
    text-align: center; 
   
}
.column:nth-child(3) ul li:nth-child(4){
    text-transform: capitalize;
    background-color: #d3d5d6;
    width: 207px;
    height: 37px;
   font-size: 14px;
   color: #000000;
   text-align: center;
   padding: 7px ;
}
.column:nth-child(3) div  {
   text-decoration: none;
    background-color: rgb(255, 255, 255);
    width: 207px;
    height: 80px;
      padding: 22px 0;
        display: inline-block; 
        text-align: center;
        font-weight: bold;
   

}
.column:nth-child(3) div a {
   text-decoration: none;
   color: white;
   background-color:#3a6ba5;
   width: 199px;
    height: 34px;
      padding: 7px 0;
        display: inline-block; 
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        
}
#confidence {
   margin-top: 20px;
   padding: 20px 20px;
   font-size: 12px;
   color: white;
 width: 625px;
 background-color: rgba(47, 79, 79);
}

#confidence h2 {
   font-size: 25px;
   font-weight:700;
   padding-bottom: 3px;
}
#confidence p {
  padding-bottom: 9px;
   font-size: 13px;
   font-weight: 400;
   color:#8c938a;

}
#confidence ul li {
   text-transform: capitalize;
    background: url("checkmark.svg") no-repeat ;
     background-size: 18px 18px; 
       padding-left: 28px;   
         margin-bottom: 8px;
       list-style: none; 
   padding-bottom: 5px;
   font-size: 14px;
   font-weight: 400;
   color: #fdfcfc;
}

#confidence ul li a {
   color: #629fcb;
   text-decoration:underline;
}


